In [1]:
import pandas as pd

In [26]:
# Read in student and school data
student_data_original = "Resources/students_complete.csv"
school_data_original = "Resources/schools_complete.csv"

# Build csvreader for each file
student_data_df = pd.read_csv(student_data_original)
# student_data_df.head()

# Second csvreader
school_data_df = pd.read_csv(school_data_original)
# school_data_df

# Alphabatize the school dataframe
sorted_school_data = school_data_df.sort_values("school_name")
# sorted_school_data.head()

# Merge data sets based on school name
combined_data = pd.merge(student_data_df, sorted_school_data, how="left", on=["school_name", "school_name"])
# combined_data

# Sort data to be alphabetical by school name
sorted_data = combined_data.sort_values("school_name")
# sorted_data

# Make dataframe with school name, type, budget, and size
school_summary_df = sorted_school_data[["school_name", "type", "size", "budget"]]
# school_summary_df

school_summary_df["Per Student Budget"] = school_summary_df["budget"] / school_summary_df["size"]
# school_summary_df

# Try with groupby
sorted_grouped_data = sorted_data.groupby("school_name")
# sorted_grouped_data.count()

# Create list of student counts
student_count_list = sorted_grouped_data["Student ID"].count()
# student_count_list

In [ ]:
# Calculate average reading and math scores


# Start with list of scores
reading_score_list = sorted_grouped_data["reading_score"].sum()
# reading_score_list.unique()

# Divide total scores in reading_score_list by student_count
average_reading_score_by_school = reading_score_list / student_count_list
# average_reading_score_by_school

# Calculate average math score
# Start with list of scores
math_score_list = sorted_grouped_data["math_score"].sum()
# math_score_list.unique()

# Divide total math scores by studen_count
average_math_score_by_school = math_score_list / student_count_list
# average_math_score_by_school

# THIS IS THE GOOD CELL

# Calculate the percent of students who passed math
# Count those who passed for each school
# If this works, it is thanks to stack overflow geniuses
# https://stackoverflow.com/questions/13851535/how-to-delete-rows-from-a-pandas-dataframe-based-on-a-conditional-expression
passing_math_score = sorted_data.drop(sorted_data[sorted_data.math_score < 70].index)
# passing_math_score.head()

# Calculate the percent of students who passed reading
# Count those who passed for each school
# If this works, it is thanks to stack overflow geniuses
# https://stackoverflow.com/questions/13851535/how-to-delete-rows-from-a-pandas-dataframe-based-on-a-conditional-expression
passing_reading_score = sorted_data.drop(sorted_data[sorted_data.reading_score < 70].index)
# passing_reading_score.head()

# Group passing score dataframes by school
grouped_math = passing_math_score.groupby("school_name")
# grouped_math.count()
grouped_reading = passing_reading_score.groupby("school_name")
# grouped_reading.count()

# Create list of student counts for math and reading passing
passed_math_count_by_school = grouped_math["Student ID"].count()
# passed_math_count_by_school

passed_reading_count_by_school = grouped_reading["Student ID"].count()
# passed_reading_count_by_school

# Divide passing counts by total student counts and multiply by 100
passed_reading_percent = (passed_reading_count_by_school / student_count_list) * 100
# passed_reading_percent

passed_math_percent = (passed_math_count_by_school / student_count_list) * 100
# passed_math_percent

# Calculate the number of students who passed both math and reading
# Drop non-passing math scores from passing_reading_score dataframe

passed_overall = passing_reading_score.drop(passing_reading_score[passing_reading_score.math_score < 70].index)
passed_overall

grouped_pass_overall = passed_overall.groupby("school_name")
grouped_pass_overall.count()

passed_overall_by_school = grouped_pass_overall["Student ID"].count()
passed_overall_by_school

passed_overall_percent = (passed_overall_by_school / student_count_list) * 100
passed_overall_percent

In [23]:
# Start score dataframe to merge with summary later
reading_math_df = pd.DataFrame({
    "Average Reading Score": average_reading_score_by_school,
    "Average Math Score": average_math_score_by_school,
    "Percent Passing Reading": passed_reading_percent,
    "Percent Passing Math": passed_math_percent,
    "Percent Passing Overall": passed_overall_percent
})
reading_math_df

# Merge reading_math_df with school_summary_df
school_summary_final = pd.merge(school_summary_df, reading_math_df, how="left", on=["school_name", "school_name"])
school_summary_final

,school_name,type,size,budget,Per Student Budget,Average Reading Score,Average Math Score,Percent Passing Reading,Percent Passing Math,Percent Passing Overall
0,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,81.933280,66.680064,54.642283
1,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,97.039828,94.133477,91.334769
2,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,80.739234,65.988471,53.204476
3,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,79.299014,68.309602,54.289887
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,97.138965,93.392371,90.599455
5,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,80.862999,66.752967,53.527508
6,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,96.252927,92.505855,89.227166
7,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,81.316421,65.683922,53.513884
8,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,81.222432,66.057551,53.539172
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,95.945946,94.594595,90.540541
10,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,80.220055,66.366592,52.988247
11,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,95.854628,93.867121,89.892107
12,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,97.308869,93.272171,90.948012
13,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,96.539641,93.867718,90.582567
14,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,96.611111,93.333333,90.333333

In [ ]:
# School Summary Complete
# Moving on to Top Performing Schools

In [45]:
# Top Schools Summary

# Sort schools by overall passing percent
schools_sort_top = school_summary_final.sort_values("Percent Passing Overall", ascending=False)
# schools_sort_top

# Reset index to drop those below top five performers
reindex_schools = schools_sort_top.reset_index(drop=True)
# reindex_schools

# Drop schools below index 5 for top schools
top_schools = reindex_schools.drop(reindex_schools[reindex_schools.index > 4].index)
top_schools

,school_name,type,size,budget,Per Student Budget,Average Reading Score,Average Math Score,Percent Passing Reading,Percent Passing Math,Percent Passing Overall
0,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,97.039828,94.133477,91.334769
1,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,97.308869,93.272171,90.948012
2,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,97.138965,93.392371,90.599455
3,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,96.539641,93.867718,90.582567
4,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,95.945946,94.594595,90.540541

In [8]:
# Bottom Schools Summary

# Sort schools by overall passing percent
schools_sort_bottom = school_summary_final.sort_values("Percent Passing Overall", ascending=True)
# schools_sort

# Reset index to drop those below top five performers
reindex_schools = schools_sort_bottom.reset_index(drop=True)
# reindex_schools

# Drop schools below index 5 for top schools
top_schools = reindex_schools.drop(reindex_schools[reindex_schools.index > 4].index)
top_schools